.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #96d3f0;
    color: #000;
    flex: 1;
    outline: 1px solid #9482df;
}

.operator {
    background-color: #b30b89;
    color: #fff;
}